<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mars Info</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- CSS Connection -->
        <!-- <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">
         -->
        
    </head>
<body>

<div class="container jumbotron text-center"><h1>MISSION TO MARS</h1>
    <p><a class="btn btn-primary" href="/scrape" role="button">SCRAPE NEW DATA</a></p>
</div>

<div class="container">
    <h3>Latest Mars News</h3>
    <h5>NASA's Next Mars Mission to Investigate Interior of Red Planet</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sequi debitis 
        sapiente iste magni nam, perspiciatis, molestias eligendi doloribus voluptatum 
        ut? Tempore itaque nostrum voluptates, ullam repellendus laudantium pariatur sit 
        dicta, vel iste ipsa rerum. Esse inventore consequuntur harum dolorum 
        repudiandae. Omnis libero officia harum voluptatum ea qui corrupti. Blanditiis 
        veritatis voluptatibus nulla eaque quam odio reiciendis ex unde officiis, omnis 
        quasi, doloribus numquam soluta minus atque vitae rerum tenetur nisi in?. </p>
</div>

<div class="container">
    <div class="row">
        <div class="container col-xs-12 col-md-8">
            <h3>Featured Mars Image</h3>
            <div><img style="float: center; margin: 10px" src="{{mars.featured_image_url}}" class="img-fluid"></div>
        </div>
        <div class="container col-xs-4 col-md-4">
            <div class="row jumbotron"><h4>Current Weather in Mars</h4>
            <p>{{mars.mars_weather}}</p>       
                    

            </div>
            <div class="row"><h4>Table</h4>
                    


            </div>
        </div>
    </div>
</div>






<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
</body>
</html>